@model IEnumerable<WebProgramlamaOdev.Entity.Category>
@{ 
    var selectedCategory = Url.RequestContext.RouteData.Values["id"];
}


   
    <a href="/Home/List" class="list-group-item ">
        <i class="fas fa-arrow-alt-circle-down"></i>
        @WebProgramlamaOdev.Resources.HomeTexts.V_H_G_TumKategoriler
    </a>
       

    @foreach (var item in Model)
    {
        if (selectedCategory != null)
        {
            if (item.Id == int.Parse((selectedCategory.ToString())))
            {
                //seçilen kategori ile route id si birbirine eşit.

                
                    <a href="/Home/List/@item.Id" class="list-group-item active ">
                        <i class="fas fa-arrow-circle-right"></i>
                        @item.Name
                    </a>

            }
            else
            {

                <a href="/Home/List/@item.Id" class="list-group-item  ">
                    <i class="fas fa-arrow-circle-right"></i>
                    @item.Name
                </a>
            }
        }
        else
        {

           
                <a href="/Home/List/@item.Id" class="list-group-item  ">
                    <i class="fas fa-arrow-circle-right"></i>
                    @item.Name
                </a>
           
        }



    
    }


