@using WebProgramlamaOdev.Models;
@model List<WebProgramlamaOdev.Controllers.ProductModel>
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">Hoşgeldiniz!</h1>
        <p class="lead">Teknolojide sınır tanımıyoruz!</p>
        <hr class="my-4">
        <p>Masaüstü bilgisayar, dizüstü bilgisayar, cep telefonu, televizyon, tablet, fotoğraf makinesi ve binlerce teknoloji ürünü Vatan Bilgisayar'da.</p>
        
    </div>
</div>

<div class="container pb-5">
    @Html.Partial("_ProductList", Model)
</div>






