@using WebProgramlamaOdev.Models;
@model List<WebProgramlamaOdev.Controllers.ProductModel>
@{
    ViewBag.Title = "Index";
}



@*<div class="jumbotron">
    <div class="container">
        <h1 class="display-4">@WebProgramlamaOdev.Resources.HomeTexts.V_H_I_h1Baslik</h1>
        <p class="lead">@WebProgramlamaOdev.Resources.HomeTexts.V_H_I_p1</p>
        <hr class="my-4">
        <p>@WebProgramlamaOdev.Resources.HomeTexts.V_H_I_p2</p>

    </div>
</div>*@

<div class="container pb-5">
    @Html.Partial("_ProductList", Model)
</div>






