@using WebProgramlamaOdev.Models;
@model List<WebProgramlamaOdev.Controllers.ProductModel>



<div class="row">



    @foreach (var urun in Model)
    {

        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="/Upload/@urun.Image" class="card-img-top" alt="@urun.Name">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/Home/Details/@urun.Id">@urun.Name</a>
                    </h4>
                    <p class="card-text pt-2 description">@urun.Description</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted product-price">
                        <i class="fas fa-lira-sign" ></i>
                        @urun.Price
                    </small>
                    <a href="/Home/Details/@urun.Id" class ="btn btn-dark btn-sm float-right">
                        <i class="fas fa-angle-double-right" aria-hidden="true"></i>
                        Ürünü İncele
                    </a>
                </div>
            </div>
        </div>
    }

</div>