@using WebProgramlamaOdev.Models;
@model List<WebProgramlamaOdev.Controllers.ProductModel>

    <head>
        <link rel="stylesheet" href="/theme/css/style.css">
    </head>
<div class="row">



    @foreach (var urun in Model)
    {

        <div class="col-md-4">
            <div class="card">
                <img src="/Upload/@urun.Image" class="card-img-top" alt="@urun.Name">
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="/Home/Details/@urun.Id">@urun.Name</a>
                    </h4>
                    <p class="card-text">@urun.Description</p>
                </div>
                <div class="card-footer">
                    <small class="text-muted">@urun.Price</small>
                </div>
            </div>
        </div>
    }

</div>