
@{
    ViewBag.Title = "Completed";
}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert">
                <i class="fas fa-check " stylelı="font-size: 20px;"></i>
                Sipariş Tamamlandı!
            </div>
            <h4>Siparişiniz En Yakın Zamanda Kargoya Verilecek</h4>
            
            
                <a href="/Home/List" class="btn btn-primary">
                    <i class="fa fa-angle-double-left"></i>
                    Alışveriş Devam Et
                </a>
            
        </div>
    </div>
</div>

