
@{
    ViewBag.Title = "Completed";
}

<div class="container">

    <div class="row">
        <div class="col-md-12">
            <h2>Sipariş Tamamla</h2>
            <h4>Siparişiniz En Yakın Zamanda Kargoya Verilecek</h4>

        </div>
    </div>
</div>

